@{
    ViewBag.Title = "Palindrome";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <label>Enter number</label>
        <input type="text" id="number" />

        <button class="btn btn-primary" id="isPalindromeBtn">Is Palindrome</button>
    </div>
</div>

@section scripts{

    <script>

        $(function () {

            var isPalindrome = function (number) {
                return $.ajax({
                    url: 'Home/IsPalindrome',
                    type: 'GET',
                    data: {
                        number: number
                    }
                })
            };

            var displayResult = function (response) {
                alert(response);
            }

            $('#isPalindromeBtn').click(function () {
                var number = $('#number').val();

                isPalindrome(number)
                    .done(displayResult)
                    .fail(function () {
                        alert('An error has occurred');
                    });
            })

        })
    </script>

}